.arrow {
  transform: rotate(315deg);
}
.mat-step-header {
  font-size: 20px;
}
mat-card {
  width: 550px;
}
mat-chip {
  & a {
    display: flex;
    align-items: center;
    & span {
      margin-right: 5px;
    }
  }
}
mat-chip-list {
  margin: 10px;
}
mat-list {
  & div {
    display: flex;
    align-items: center;
    & img {
      width: 100px;
    }
    & mat-icon {
      font-size: 59px;
      width: 100px;
      margin-left: 15px;
      line-height: 23px;
    }
  }
  & p {
    white-space: pre-line !important;
  }
  & .site-link {
    margin-top: 7px;
    & mat-icon {
      width: unset;
      font-size: 20px;
    }
  }
}
mat-vertical-stepper {
  width: 800px;
  margin: auto;
  border-radius: 5px;
  opacity: 0.9;
}
@media only screen and (max-width: 800px) {
  .site-link {
    margin: 10px auto !important;
  }
  mat-card {
    width: 60vw;
  }
  mat-list {
    & div {
      flex-direction: column;
    }
  }
  mat-vertical-stepper {
    width: 90vw;
  }
}
