<mat-vertical-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Intro</ng-template>
    <mat-card class="mat-elevation-z5">
      <mat-card-header>
        <mat-card-title>Lucy Veron</mat-card-title>
        <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/main.jpg" alt="main photo">
      <mat-card-content>
        <p>Fish looking for a new pond</p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Work</ng-template>
    <mat-list>
      <div *ngFor="let job of jobs">
        <img src="{{job.logo}}">
        <mat-list-item>
          <h3 mat-line>{{job.company}}</h3>
          <strong mat-line>{{job.dates}}</strong>
          <p mat-line *ngFor="let task of job.tasks">+ {{task}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </div>
      <div class="site-link">
        <a href="http://newageamericansband.com">
          <button mat-stroked-button color="warn">
            LINK TO FREELANCE SITE
          </button>
        </a>
      </div>
    </mat-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Internships</ng-template>
    <mat-list>
      <div *ngFor="let intern of internships">
        <img src="{{intern.logo}}">
        <mat-list-item>
          <h3 mat-line>{{intern.company}}</h3>
          <strong mat-line>{{intern.dates}}</strong>
          <p mat-line *ngFor="let task of intern.tasks">+ {{task}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Education</ng-template>
    <mat-card class="mat-elevation-z5">
      <div class="flex">
        <mat-icon>school</mat-icon>
        <mat-card-header>
          <mat-card-title>
            <span>B.Sc. Electrical and Computer Engineering</span>
          </mat-card-title>
          <mat-card-subtitle>Southern Illinois University</mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-card-content>
        <p>Fall 2016</p>
        <p>Carbondale, Illinois</p>
        <p>USA</p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Connect</ng-template>
    <mat-chip-list>
      <mat-chip>+49 163 9101630</mat-chip>
      <mat-chip color="primary" selected>lucymveron@gmail.com</mat-chip>
      <mat-chip color="accent" selected>
        <a href="https://github.com/LucyVeron">
          <span>github.com/LucyVeron</span>
          <mat-icon class="arrow">arrow_forward</mat-icon>
        </a>
      </mat-chip>
      <mat-chip color="warn" selected>
        <a href="https://linkedin.com/in/lucymarieveron">
          <span>linkedin.com/in/lucymarieveron</span>
          <mat-icon class="arrow">arrow_forward</mat-icon>
        </a>
      </mat-chip>
    </mat-chip-list>
  </mat-step>
</mat-vertical-stepper>