#euMap, #usaMap {
  height: 350px;
  width: 100%;
}
.arrow {
  transform: rotate(315deg);
}
.maps {
  display: flex;
  flex-direction: row;
  & mat-card {
    margin: 1rem 0.5rem;
  }
}
.mat-step-header {
  font-size: 20px;
}
mat-card {
  width: 550px;
}
mat-chip {
  & a {
    display: flex;
    align-items: center;
    & span {
      margin-right: 5px;
    }
  }
}
mat-chip-list {
  margin: 10px;
}
mat-list {
  & div {
    display: flex;
    align-items: center;
    & img {
      width: 200px;
    }
    & mat-icon {
      font-size: 59px;
      width: 100px;
      margin-left: 15px;
      line-height: 23px;
    }
  }
  & p {
    white-space: pre-line !important;
  }
  & .site-link {
    margin-top: 7px;
    & mat-icon {
      width: unset;
      font-size: 20px;
    }
  }
}
mat-vertical-stepper {
  width: 90vw;
  margin: auto;
  border-radius: 5px;
  opacity: 0.9;
  & h3 {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .maps {
    flex-direction: column;
  }
  .site-link {
    margin: 10px auto !important;
  }
  mat-card {
    width: 60vw;
  }
  mat-list {
    & div {
      flex-direction: column;
    }
  }
  mat-vertical-stepper {
    width: 90vw;
  }
}
