mat-card {
  width: 600px;
}
mat-list {
  & div {
    display: flex;
    align-items: center;
    & img {
      width: 100px;
    }
    & mat-icon {
      font-size: 59px;
      width: 100px;
      margin-left: 15px;
      line-height: 23px;
    }
  }
  & .site-link {
    margin-left: 0px;
    margin-top: 20px;
  }
}
mat-chip-list {
  margin: 10px;
}
mat-chip {
  & a {
    display: flex;
    align-items: center;
    & span {
      margin-right: 5px;
    }
  }
}
mat-vertical-stepper {
  width: 800px;
  margin: auto;
  border-radius: 5px;
  opacity: 0.9;
}
.mat-step-header {
  font-size: 20px;
}
.arrow {
  transform: rotate(315deg);
}
